*{
    margin: 0;
    padding: 0;
    background-color: #000;
    
}
.header-body{
    display: block;
    border-bottom:1px solid white ;
    padding: 10px;
}
.header-body a{
    text-decoration: none;
    color:white;
    font-size: larger;
   
}

#right{
    float: right;
    margin-left: 20px;
}

h1{
    color:white;
}

.details{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top:30px
}
.details input{
 border:none;
 border-bottom: 1px solid white;
 color:white;
 padding: 5px;
}
#signup-btn{
    color:black;
    background: white;
    padding: 10px 20px;
    margin-top:50px;
}
.signup{
    max-width:30%;
    margin: 12% auto;;
}
